@import url("https://fonts.googleapis.com/css?family=Oleo+Script|Montserrat|Raleway|Roboto+Slab&display=swap&subset=latin-ext");
/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #222222;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
  text-align: center;
  font-family: "Raleway", Sans-Serif;
}

a,
a:hover {
  text-decoration: none;
  color: #fed136;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 60px 0;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1098px;
}

.section-title {
  font-size: 40px;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-family: "Montserrat", Sans-Serif;
  padding: 0;
  margin: 0;
}

.section-subtitle {
  display: block;
  color: #777777;
  font-weight: 400;
  font-style: italic;
  font-family: "Raleway", Sans-Serif;
  font-size: 16px;
  text-transform: none;
  padding: 0;
  margin: 0;
}

/* Splash */
.splash {
  padding: 0 24px;
  /*
  background-image: url("../images/background-image.png");
  */
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.5)), url("../images/background-image.png") center center;
  background-size: cover;
  background-position: center center;
  min-height: 700px;
  position: relative;
}

.splash .navigation {
  padding: 12px 0;
}

.splash .navigation .nav-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.splash .navigation p {
  color: #fed136;
  font-family: "Oleo Script", Sans-Serif;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1.3px;
}

.splash .navigation ul {
  margin: auto 0;
}

.splash .navigation ul li {
  display: inline-block;
  margin-right: 34px;
}

.splash .navigation ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Montserrat", Sans-Serif;
}

.splash .navigation ul li a i {
  display: none;
}

.splash .page-intro {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash .page-intro .main-title {
  margin: 0;
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  font-style: italic;
  text-transform: capitalize;
  font-family: "Raleway", Sans-Serif;
  letter-spacing: -1px;
}

.splash .page-intro .main-subtitle {
  margin: 12px 0 60px 0;
  color: #fff;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Montserrat", Sans-Serif;
  letter-spacing: -1.88px;
}

.splash .page-intro .btn {
  padding: 18px 24px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Montserrat", Sans-Serif;
  text-transform: uppercase;
  background: #fed136;
  color: #fff;
  border-radius: 3px;
  width: 240px;
  height: 65px;
}

.splash .page-intro .btn:hover {
  background: #fece27;
  color: #fff;
}

/* Services */
.services .service-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 60px 0 0 0;
}

.services .service {
  -ms-flex: 0 0 33.33%;
      flex: 0 0 33.33%;
  max-width: 33.33%;
}

.services i {
  width: 66px;
  height: 66px;
  line-height: 66px;
  color: #fed136;
  font-size: 28px;
  border-radius: 50%;
  border: 3px solid #fed136;
}

.services .service-title {
  margin: 24px 0 0 0;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.45;
}

.services .service-description {
  padding: 0 24px;
  font-size: 14px;
  font-weight: 400;
  color: #777777;
  font-family: "Roboto Slab", Sans-Serif;
  margin: 0;
}

/* Portfolio */
.portfolio {
  background: #f7f7f7;
  padding-bottom: 0;
}

.portfolio .portfolio-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 60px 0 0 0;
}

.portfolio .portfolio-item {
  -ms-flex: 0 0 29.1%;
      flex: 0 0 29.1%;
  max-width: 29.1%;
  background: #fff;
  margin: 0 34px 60px 0;
}

.portfolio .portfolio-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .portfolio-item h3 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.45px;
  font-family: "Montserrat", Sans-Serif;
  padding: 24px 0 0 0;
  margin: 0;
}

.portfolio .portfolio-item p {
  font-size: 14px;
  color: #777777;
  font-style: italic;
  font-family: "Raleway", Sans-Serif;
  font-weight: 400;
  padding: 0 0 24px 0;
  margin: 0;
}

/* Contact */
.contact .contact-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 60px 0;
}

.contact p {
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat", Sans-Serif;
  letter-spacing: -0.35px;
  -ms-flex: 0 0 33.33%;
      flex: 0 0 33.33%;
  max-width: 33.33%;
  text-align: left;
}

.contact .social-links {
  list-style-type: none;
  margin: auto 0;
  -ms-flex: 0 0 33.33%;
      flex: 0 0 33.33%;
  max-width: 33.33%;
}

.contact .social-links li {
  display: inline-block;
  font-size: 0;
  margin-right: 5px;
}

.contact .social-links li a {
  color: #fff;
}

.contact .social-links li a i {
  font-size: 18px;
  background: #222222;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
}

/* Media */
@media (max-width: 767px) {
  .services .service {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 48px;
  }
  .portfolio .portfolio-item {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
  .splash .page-intro .main-subtitle {
    font-size: 52px;
  }
  .contact .social-links,
  .contact p {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
  section {
    padding: 36px 0;
  }
}
/*# sourceMappingURL=style.css.map */