@import url("https://fonts.googleapis.com/css?family=Oleo+Script|Montserrat|Raleway|Roboto+Slab&display=swap&subset=latin-ext");

$color-main: #fed136;
$color-background: #f7f7f7;
$color-text-light: #fff;
$color-text-dark: #222222;
$color-text-description: #777777;

$font-header: "Montserrat", Sans-Serif;
$font-text: "Raleway", Sans-Serif;
$font-description: "Roboto Slab", Sans-Serif;
$font-logo: "Oleo Script", Sans-Serif;

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: $color-text-dark;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
  height: 100%;
  text-align: center;
  font-family: $font-text;
  background: $color-text-dark;
}

a,
a:hover {
  text-decoration: none;
  color: $color-main;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 60px 0;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1098px;
}
/*
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
*/

.section-title {
  font-size: 40px;
  color: $color-text-dark;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-family: $font-header;
}

.section-subtitle {
  display: block;
  color: $color-text-description;
  font-weight: 400;
  font-style: italic;
  font-family: $font-text;
  font-size: 16px;
  text-transform: none;
}

.page-container {
  margin: 0 auto;
  max-width: 1557px;
  background: $color-text-light;
}

/* Splash */

.splash {
  padding: 0 24px;
  /*
  background-image: url("../images/background-image.png");
  */
  background: linear-gradient(to right, rgba(#272727, 0.9), rgba(#272727, 0.5)),
    url("../images/background-image.png") center center;
  background-size: cover;
  background-position: center center;
  min-height: 700px;
  position: relative;

  .navigation {
    padding: 12px 0;

    .nav-wrapper {
      display: flex;
      justify-content: space-between;
    }

    p {
      color: $color-main;
      font-family: $font-logo;
      font-size: 26px;
      font-weight: 400;
      letter-spacing: 1.3px;
    }

    ul {
      margin: auto 0;

      li {
        display: inline-block;
        margin-right: 34px;

        a {
          color: $color-text-light;
          font-size: 14px;
          font-weight: 400;
          text-transform: uppercase;
          font-family: $font-header;
        }
      }
    }
  }

  .page-intro {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .main-title {
      margin: 0;
      color: $color-text-light;
      font-size: 40px;
      font-weight: 400;
      font-style: italic;
      text-transform: capitalize;
      font-family: $font-text;
      letter-spacing: -1px;
    }

    .main-subtitle {
      margin: 12px 0 60px 0;
      color: $color-text-light;
      font-size: 75px;
      font-weight: 700;
      text-transform: uppercase;
      font-family: $font-header;
      letter-spacing: -1.88px;
    }

    .btn {
      padding: 18px 24px;
      font-size: 18px;
      font-weight: 700;
      font-family: $font-header;
      text-transform: uppercase;
      background: $color-main;
      color: $color-text-light;
      border-radius: 3px;
      width: 240px;
      height: 65px;

      &:hover {
        background: darken($color-main, 3%);
        color: $color-text-light;
      }
    }
  }
}

/* Services */

.services {
  .service-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .service {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }

  i {
    width: 66px;
    height: 66px;
    line-height: 66px;
    color: $color-main;
    font-size: 28px;
    border-radius: 50%;
    border: 3px solid $color-main;
  }

  .service-title {
    margin: 24px 0 0 0;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.45;
  }

  .service-description {
    display: block;
    padding: 0 24px;
    font-size: 14px;
    font-weight: 400;
    color: $color-text-description;
    font-family: $font-description;
  }
}

/* Portfolio */

.portfolio {
  background: $color-background;

  .portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .portfolio-item {
    flex: 0 0 31%;
    max-width: 31%;
    margin: 50px 0 0 0;
    background: $color-text-light;

    img {
      width: 100%;
      height: 301px;
      object-fit: cover;
    }

    p {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: -0.45px;
      font-family: $font-header;
    }

    span {
      display: block;
      font-size: 14px;
      color: $color-text-description;
      font-style: italic;
      font-family: $font-text;
      font-weight: 400;
    }
  }
}

/* Contact */

.contact {
  padding: 12px 0;

  .contact-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  p {
    font-size: 14px;
    font-weight: 700;
    font-family: $font-header;
    letter-spacing: -0.35px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: left;
  }
  .social-links {
    list-style-type: none;
    margin: auto 0;
    flex: 0 0 33.33%;
    max-width: 33.33%;

    li {
      display: inline-block;
      font-size: 0;
      margin-right: 5px;

      a {
        color: $color-text-light;

        i {
          font-size: 18px;
          background: $color-text-dark;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          line-height: 40px;
        }
      }
    }
  }
}

/* Media */

@media (max-width: 767px) {
  .services {
    .service {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 48px;
    }
  }

  .portfolio {
    .portfolio-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .splash .page-intro {
    .main-subtitle {
      font-size: 52px;
    }

    .navigation-wrapper {
      display: inline-block;
    }
    .navigation li {
      margin-right: 6px;
    }
  }

  .contact {
    .social-links,
    p {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  section {
    padding: 36px 0;
  }
}
